@import "./styles/board";
@import "./styles/form";
@import "./styles/card";
@import "./styles/reset";
@import "./styles/game-page";
@import "./styles/panel";
@import "./styles/question";
@import "./styles/colors";
@import "./styles/home";
@import "./styles/loading-page";
@import "./styles/chatlog";
@import "./styles/results";
@import "./styles/logo-spinner";
@import "./styles/scoreboard";
@import "./styles/signup";
@import "./styles/login";
@import "./styles/instructions";

button {
  font-family: 'Graduate', cursive;
  cursor: pointer;
  color: var(--font-color);
  border-radius: 5px;
}

body {
  font-family: 'Graduate', cursive;
  background-color: var(--main-bg);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form--inactive {
  display: none;
}
