:root {
  --dark-red: #e99a9f;
  --pink: #ecb4ae;
  --light-pink: #f0d0cc;
  --peach: #f1d4be;
  --yellow: #dee7c8;
  --green: #bae1d1;
  --light-green: #bae1d189;
  --beige: #f9f0de;
  --light-beige: #faf7f1ba;


  --btn-click-bg: var(--green);
  --btn-click-bg-hover: var(--light-green);

  --btn-submit-bg: var(--pink);
  --btn-submit-bg-hover: var(--light-pink);
  --btn-submit-border: var(--pink);

  --card-bg: var(--light-beige);

  --input-bg: var(--light-beige);
  --input-border: var(--pink);

  --chatlog-border: var(--dark-red);
  --chatlog-bg: var(--light-beige);

  --main-bg: var(--beige);
  --logo-bg: var(--yellow);
  --scoreboard-border: var(--dark-red); 
  --scoreboard-bg: var(--light-beige);

  --font-color: var(--dark-grey);
}
