.form {
    display: grid;
    margin: auto;
    margin-top: 2rem;
    width: 20rem;
    &__input {
        height: 2rem;
        border: 2px solid var(--input-border);
        border-radius: 0.2rem;
        padding: 0.3rem;
        margin-bottom: 1rem;
        background-color: var(--input-bg);
        font-family: 'Graduate', cursive;
    }
    &__ask-btn {
        height: 2rem;
        border-radius: 0.2rem;
        padding: 0.3rem;
        border: 2px solid var(--pink);
        background-color: var(--pink);
        &--inactive {
            visibility: hidden;
        }
        &:hover {
        border: 2px solid var(--pink);
        background-color: #f0d0cc;
        }
    }
}
