.loading-page {
  text-align: center;
  &__title {
    padding-top: 40vh;
    font-size: 3rem;
  }
  &__back-btn {
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    margin-top: 3rem;
    min-width: 3rem;
    background-color: var(--btn-click-bg);
    &:hover {
        background-color: var(--btn-click-bg-hover);
      }
  }
}
