.panel {
  margin-top: 4rem;
  padding: 3rem auto;
  flex-basis: 25%;
  text-align: center;
}

.panel > .card {
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.panel > .card > button {
  display: none;
}

.panel .form__input {
  font-family: 'Graduate', cursive;
}