.question {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top: 15vh;
  overflow-wrap: break-word;
  &__content {
    padding: 5rem;
    width: 50%;
    margin: auto;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__message {
    margin-bottom: 1rem;
  }
  &--inactive {
    display: none;
  }
  &__btn-yes {
    margin-right: 1rem;
    width: 3rem;
    border-radius: 0.2rem;
    padding: 0.2rem;
    border: 1px solid var(--pink);
    background-color: var(--pink);
    &--inactive {
      visibility: hidden;
    }
    &:hover {
      border: 1px solid var(--pink);
      background-color: #f0d0cc;
    }
  }
  &__btn-no {
    margin-left: 1rem;
    width: 3rem;
    border-radius: 0.2rem;
    padding: 0.2rem;
    border: 1px solid var(--pink);
    background-color: var(--pink);
    &--inactive {
      visibility: hidden;
    }
    &:hover {
      border: 1px solid var(--pink);
      background-color: #f0d0cc;
    }
  }
  &__img {
    width: fit-content;
    margin: auto;
    margin-top: 1rem;

  }
}

.question__img button {
  display: none;
}
